<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%-30d %p [%t] %-30.30C: %msg%n%throwable" />
        </Console>

        <RollingFile name="File" fileName="./logs/soulsync-log.log" filePattern="./logs/soulsync-%d{-dd-MMMM-yyyy}-%i.log.gz">
            <PatternLayout>
                <pattern>%d %p [%t] %C: %msg%n%throwable</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Root>

        <Logger name="tech.xavi.soulsync" level="INFO"/>
    </Loggers>

</Configuration>